body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    line-height: 8vh;
    min-height: 8vh;
    margin: 0 1vw;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin-top: 0vh;
}

main section {
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    padding: 3vh 0;
}

h2 {
    font-size: 1.6em;
}

button {
    background-color: #008CBA;
    color: white;
    border-radius: 2px;
    border: none;
    font-size: 1.2em;
    margin: 2% 0;
}

.answers {
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}